@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  margin: 0;
}
p {
  margin: 0;
}
/* Font for some elements  */
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.font-mono {
  font-family: "Roboto Mono", monospace;
}
/* Preview container font */
.preview-container {
  font-family: "Roboto Slab", serif;
}
/* List style type disc color */
ul.list-disc li::marker {
  color: #e46643;
}
/* Markdown container font */
.markdown-container {
  font-family: "Roboto Mono", monospace;
  font-size: 14px;
  margin: 0;
}
/* <code>...</code> font */
.code {
  font-family: "Roboto Mono", monospace;
}
